/* Resets for extra padding in the window */
html, body {
	padding: 0;
}

.osu-layout--body {
	background-color: hsl(var(--hsl-b6));
}

.osu-page {
	align-self: center;
	margin-left: auto;
	margin-right: auto;
	flex: none;

	width: 100%;
	max-width: 1000px;
}

@media (min-width: 900px) {
	.osu-page {
		width: calc(100% - 40px);
		max-width: 1000px;
	}
}

.osu-page--wiki {
	background-color: hsl(var(--hsl-b5));
	color: hsl(var(--hsl-c1));
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
	font-size: 14px;
}

.osu-page--wiki-main {
	padding: 20px 10px;
}

@media (min-width: 900px) {
	.osu-page--wiki-main {
		padding-left: 50px;
		padding-right: 50px;
	}
}

.wiki-page {
	display: grid;
}

@media (min-width: 900px) {
	.wiki-page {
		grid-template-columns: 250px 1fr;
	}
}

.wiki-page__content {
	min-width: 0;
	padding: 20px 10px;
}

@media (min-width: 900px) {
	.wiki-page__content {
		padding-left: 30px;
		padding-right: 50px;
	}
}

.wiki-page__toc {
	background-color: hsl(var(--hsl-b4));
	border-radius: 6px;
	padding: 10px;
	margin: 10px;
}

@media (min-width: 900px) {
	.wiki-page__toc {
		border-radius: 0;
		top: 0; /* top: @nav2-height--pinned; */
		position: sticky;
		padding: 20px 30px 20px 50px;
		margin: 0;
		overflow-y: scroll;
		max-height: 100vh; /* max-height: calc(100vh - @nav2-height--pinned); */
	}
}

.news-show__info {
	margin: 20px 0;
}

.news-show__title {
	font-style: normal;
	font-weight: 600;
	font-size: 35px;
	color: inherit;
	padding: 0;
	margin: 0;
}

.news-card {
	text-decoration: none;
	color: #fff;
	display: block;
	border-radius: 6px;
	background-color: hsl(var(--hsl-b4));
	min-width: 0;
}

.news-card:hover,
.news-card:focus,
.news-card:active {
	text-decoration: none;
	color: #fff;
}

.news-card:hover {
	background-color: hsl(var(--hsl-b3));
}

.news-card__cover {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.news-card__cover-container {
	background-image: url("./news-show-default.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 6px;
	overflow: hidden;
	height: 160px;
	position: relative;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
	.news-card__cover-container {
		background-image: url("./news-show-default@2x.jpg");
	}
}

.news-card--show .news-card__cover-container {
	height: 200px;
}

.news-card__time {
	border-radius: 10000px;
	font-size: 10px;
	padding: 5px 20px;
	background-color: hsla(var(--hsl-b6), 0.5);
	align-self: flex-end;
	text-transform: uppercase;
	font-weight: 600;
	position: absolute;
	top: 10px;
	right: 15px;
}

.osu-md {
	font-family: var(--font-content-override, var(--font-content));
	line-height: 1.35;
	color: inherit;
	font-size: 14px;
	word-wrap: break-word;

	--code-background-colour: hsl(var(--hsl-b6));
	--paragraph-space: 1.5em;
}

.osu-md code {
	border-radius: 4px;
	background-color: var(--code-background-colour);
	color: hsl(var(--hsl-l1));
	padding: 1px 4px;
}

.osu-md hr {
	border-color: hsl(var(--hsl-b3));
}

.osu-md iframe {
	max-width: 100%;
}

.osu-md img {
	max-width: 100%;
}

.osu-md video {
	max-width: 100%;
}

.osu-md pre {
	background-color: var(--code-background-colour);
	color: hsl(var(--hsl-l1));
	border: none;
	border-radius: 0;
}

.osu-md pre > code {
	border: none;
	padding: 0;
}

.osu-md > *:last-child {
	margin-bottom: 0;
}

.osu-md--news {
	padding: 0;
	color: hsl(var(--hsl-c1));
	font-size: 14px;
}

.osu-md__figure-caption {
	margin-top: 5px;
	font-style: normal;
	display: inline-block;
}

.osu-md__figure-container {
	margin: var(--paragraph-space) 0;
	text-align: center;
}

.osu-md__figure-image {
	display: block;
	margin: 0 auto;
}

.osu-md__footnote-container > ol {
	padding-left: 0;
	list-style: none;
	counter-reset: c 0;
}

.osu-md__header {
	font-family: var(--font-default-override, var(--font-default));
	clear: both;

	font-weight: bold;
	font-style: normal;
	color: hsl(var(--hsl-c1));

	/* Extra resets for VSCode style */
	margin: 0;
	padding: 0;
}

.osu-md__header:first-child {
	margin-top: 0;
}

.osu-md__header--1 {
	margin-top: 40px;
	font-weight: 600;
}

.osu-md--wiki .osu-md__header--1 {
	margin-right: 0;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid hsl(var(--hsl-b3));
}

.osu-md__header--2 {
	font-size: 26px;
	font-weight: 600;
	margin: 20px 0 10px;
}

.osu-md--news .osu-md__header--2 {
	font-size: 24px;
	padding-bottom: 5px;
	border-bottom: 1px solid hsl(var(--hsl-b3));
}

.osu-md--wiki .osu-md__header--2 {
	padding-bottom: 5px;
	border-bottom: 1px solid hsl(var(--hsl-b3));
}

.osu-md__header--3 {
	font-size: 20px;
	margin: 30px 0 10px;
}

.osu-md--news .osu-md__header--3 {
	font-size: 18px;
}

.osu-md__header--4 {
	font-size: 18px;
	margin: 30px 0 10px;
}

.osu-md--news .osu-md__header--4 {
	font-size: inherit;
	color: inherit;
}

.osu-md__header--5 {
	font-size: 16px;
	margin-top: 20px;
}

.osu-md__header--6 {
	font-size: 14px;
	margin-top: 20px;
}

.osu-md__infobox {
	padding: 10px;
	margin: var(--paragraph-space) 0;
	border: 1px solid hsl(var(--hsl-b4));
	border-radius: 4px;
	text-align: center;
}

/* @media (min-width: 300px * 2 + @gutter-v2 * 2) */
@media (min-width: 620px) {
	.osu-md__infobox {
		float: right;
		clear: right;
		width: 50%;
		max-width: 300px;
		margin: 0 0 5px 10px;
	}
}

.osu-md__infobox > :first-child {
	margin-top: 0;
}

.osu-md__infobox > :last-child {
	margin-bottom: 0;
}

.osu-md__infobox thead {
	display: none;
}

.osu-md__infobox tbody > tr:first-child > td {
	border-top: none;
}

.osu-md__infobox td {
	vertical-align: top;
}

.osu-md__link--footnote-ref {
	font-size: 11px;
}

.osu-md__link--footnote-ref::after {
	content: "]";
}

.osu-md__link--footnote-ref::before {
	content: "[";
}

.osu-md__list {
	padding-left: 20px;
}

.osu-md__list--ordered {
	list-style: none;
	padding-left: 0;
	counter-reset: c var(--list-start);
}

.osu-md__list-item {
	margin: 5px 0;
}

.osu-md__list--ordered > .osu-md__list-item,
.osu-md__footnote-container .osu-md__list-item {
	counter-increment: c;
	display: flex;
}

.osu-md__list--ordered > .osu-md__list-item::before,
.osu-md__footnote-container .osu-md__list-item::before {
	content: counter(c) ". ";
	min-width: 30px;
	padding-right: 5px;
	flex: none;
}

.osu-md__list--ordered > .osu-md__list-item > div,
.osu-md__footnote-container .osu-md__list-item > div {
	flex: 1;
	min-width: 0;
}

.osu-md__paragraph {
	margin-bottom: var(--paragraph-space);
	line-height: 1.5;
}

.osu-md__list-item--footnote .osu-md__paragraph {
	margin-bottom: 0;
	flex: 1;
	min-width: 0;
	line-height: inherit;
}

.osu-md__table {
	overflow-x: auto;
	margin-bottom: 20px;
}

.osu-md__table-data {
	border-top: 1px solid hsl(var(--hsl-b4));
	padding: 5px;
	min-width: 30px;
}

.osu-md__table-data--center {
	text-align: center;
}

.osu-md__table-data--header {
	font-family: var(--font-default-override, var(--font-default));
	border-top: none;
	border-bottom: 2px solid hsl(var(--hsl-b3));
	font-weight: bold;
}

.osu-md__table-data--left {
	text-align: left;
}

.osu-md__table-data--right {
	text-align: right;
}

/* This styling is not actually osu-md in osu-web, it's on all links */
.osu-md a {
	color: hsl(var(--hsl-l2));
	outline-style: none;
	text-decoration: none;
	transition: color 80ms linear;
}

.osu-md a:hover {
	color: hsl(var(--hsl-l1));
	text-decoration: underline;
}

.flag-country {
	--height: 1em;
	--width-height-ratio: calc(100 / 72);

	height: var(--height);
	width: calc(var(--height) * var(--width-height-ratio));
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 3px;
	position: relative;
	filter: saturate(1.1);
	display: block;

	transform: translateZ(0);
}

.flag-country::after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: inherit;
	border-radius: inherit;
	filter: contrast(0) brightness(2);
	opacity: 0.25;
	content: '';
}

.flag-country--wiki {
	display: inline-block;
	border-radius: unset;
	bottom: -0.1em;
}

.wiki-main-page__blurb {
	font-family: var(--font-content-override, var(--font-content));
	line-height: 1.35;
	font-size: 12px;
	text-align: center;
	font-weight: 300;
	color: hsl(var(--hsl-c1));
	padding-top: 30px;
}

.wiki-main-page__panels {
	display: grid;
	grid-gap: 7px;
	padding-top: 45px;
}

@media (min-width: 900px) {
	.wiki-main-page__panels {
		grid-template-columns: 1fr 1fr;
	}
}

.wiki-main-page__heading {
	color: hsl(var(--hsl-c1));
	font-size: 20px;
	font-weight: 300;
	font-style: normal;
}

.wiki-main-page-panel .wiki-main-page__heading {
	margin-bottom: 40px;
}

.wiki-main-page-panel--full .wiki-main-page__heading {
	font-size: 30px;
}

.wiki-main-page__paragraph {
	font-size: 13px;
	font-weight: 700;
	color: hsl(var(--hsl-c1));
}

.wiki-main-page-panel {
	border-radius: 4px;
	box-shadow: 0 1px 3px rgba(0,0,0,.25);
	min-height: 150px;
	padding: 30px;
	background: hsl(var(--hsl-b4));
	text-align: center;
}

@media (min-width: 900px) {
	.wiki-main-page-panel--full {
		grid-column: 1 / span 2;
	}
}
