/* More fitting color for code lines in the left margin */

.showEditorSelection .code-active-line::before {
	border-left: 3px solid hsl(var(--hsl-h2));
}

.showEditorSelection .code-line:hover::before {
	border-left: 3px solid hsl(var(--hsl-h1));
}

/* Hide the sidebar on mobile */

.wiki-page__toc {
	display: none;
}

@media (min-width: 900px) {
	.wiki-page__toc {
		display: block;
	}
}

/* Add note to sidebar on hover */

.wiki-page__toc::before {
	content: "The sidebar's content is not implemented in this extension. But it's still here to show you what the page would look like.";
	opacity: 0;
	transition: opacity 100ms linear;
}

.wiki-page__toc:hover::before {
	opacity: 1;
}

/* Uniform 20px padding on mobile content */

.wiki-page__content {
	padding-left: 20px;
	padding-right: 20px;
}

.osu-page--wiki-main {
	padding-left: 20px;
	padding-right: 20px;
}

/* TODO/temporary: Remove top margin from news info until the card is added */

.news-show__info {
	margin-top: 0;
}

/* Remove top padding from main page intro (no search bar above it) */

.wiki-main-page__blurb {
	padding-top: 0;
}
