/* Replacement for VSCode's code line styles */

.showEditorSelection :not(table, thead, tbody, tr, ul, ol, .osu-md__infobox).code-line,
.showEditorSelection .osu-md__table:has(.code-line) {
	position: relative;
}

.showEditorSelection :not(table, thead, tbody, tr, ul, ol, .osu-md__infobox):is(.code-active-line, .code-line:hover)::after,
.showEditorSelection .osu-md__table:is(:has(.code-active-line), :has(.code-line):hover)::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	height: 100%;
	left: -13px;
	width: 3px;
}

.showEditorSelection :not(table, thead, tbody, tr, ul, ol, .osu-md__infobox).code-active-line::after,
.showEditorSelection .osu-md__table:has(.code-active-line)::after {
	background-color: hsl(var(--hsl-h2));
}

.showEditorSelection :not(table, thead, tbody, tr, ul, ol, .osu-md__infobox).code-line:hover::after,
.showEditorSelection .osu-md__table:has(.code-line):hover::after {
	background-color: hsl(var(--hsl-h1));
}

.showEditorSelection ul li:is(.code-active-line, .code-line:hover)::after {
	left: -33px !important; /* 20px more to account for ul left padding */
}

/* Fix code line position, .osu-md__table has overflow-x: auto */
.osu-md__table {
	margin-left: -13px;
	padding-left: 13px;
}
.showEditorSelection .osu-md__table:is(:has(.code-active-line), :has(.code-line):hover)::after {
	left: 0;
}

/* Hide the sidebar on mobile */

.wiki-page__toc {
	display: none;
}

@media (min-width: 900px) {
	.wiki-page__toc {
		display: block;
	}
}

/* Add note to sidebar on hover */

.wiki-page__toc::before {
	content: "The sidebar's content is not implemented in this extension. But it's still here to show you what the page would look like.";
	opacity: 0;
	transition: opacity 100ms linear;
}

.wiki-page__toc:hover::before {
	opacity: 1;
}

/* Uniform 20px padding on mobile content */

.wiki-page__content {
	padding-left: 20px;
	padding-right: 20px;
}

.osu-page--wiki-main {
	padding-left: 20px;
	padding-right: 20px;
}

/* TODO/temporary: Remove top margin from news info until the card is added */

.news-show__info {
	margin-top: 0;
}

/* Remove top padding from main page intro (no search bar above it) */

.wiki-main-page__blurb {
	padding-top: 0;
}

/* Fix click target when overlapped by position:relative block */

.osu-md__infobox {
	z-index: 1;
}
